<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="msds-table msds-table--small">
        <thead class="msds-table__head">
          <tr class="msds-table__head-row">
            <th class="msds-table__header">
              <div class ="msds-table__header-headline">
              case number
              <span class="msds-table__header-order-icon">
                <svg class="msds-table__header-descending-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
                <svg class="msds-table__header-acesnding-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
              </div>
            </th>
            <th class="msds-table__header">
              <div class ="msds-table__header-headline">
              subject
              <span class="msds-table__header-order-icon">
                <svg class="msds-table__header-descending-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
                <svg class="msds-table__header-acesnding-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
              </div>
            </th>
            <th class="msds-table__header">
              <div class ="msds-table__header-headline">
              status
              <span class="msds-table__header-order-icon">
                <svg class="msds-table__header-descending-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
                <svg class="msds-table__header-acesnding-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
              </div>
            </th>
            <th class="msds-table__header">
              <div class ="msds-table__header-headline">
              shared case
              <span class="msds-table__header-order-icon">
                <svg class="msds-table__header-descending-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
                <svg class="msds-table__header-acesnding-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
              </div>
            </th>
            <th class="msds-table__header">
              <div class ="msds-table__header-headline">
              last mts update
              <span class="msds-table__header-order-icon">
                <svg class="msds-table__header-descending-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
                <svg class="msds-table__header-acesnding-order-icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="msds-table__body">
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC374780</td>
            <td class="msds-table__body-row-data">“Test 11”</td>
            <td class="msds-table__body-row-data">Awaiting MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">8/1/2019 11:18:01 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC103913</td>
            <td class="msds-table__body-row-data">Test 4ward2SF - 1 email address</td>
            <td class="msds-table__body-row-data">Closed</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">1/1/0001 12:00:00 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC374780</td>
            <td class="msds-table__body-row-data">“Test 11”</td>
            <td class="msds-table__body-row-data">Awaiting MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">8/1/2019 11:18:01 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC103913</td>
            <td class="msds-table__body-row-data">Test 4ward2SF - 1 email address</td>
            <td class="msds-table__body-row-data">Closed</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">1/1/0001 12:00:00 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC374780</td>
            <td class="msds-table__body-row-data">“Test 11”</td>
            <td class="msds-table__body-row-data">Awaiting MTS</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">8/1/2019 11:18:01 AM</td>
          </tr>
          <tr class="msds-table__body-row">
            <td class="msds-table__body-row-data">MSC103913</td>
            <td class="msds-table__body-row-data">Test 4ward2SF - 1 email address</td>
            <td class="msds-table__body-row-data">Closed</td>
            <td class="msds-table__body-row-data">Yes</td>
            <td class="msds-table__body-row-data">1/1/0001 12:00:00 AM</td>
          </tr>
        </tbody>
    </div>
  </div>
</div>